<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "paydollies", root_path, id: 'logo' %>
      <button type="button" class="navbar-toggle" id='menu-expand-button' data-toggle='collapse' data-target='#nav-bar-links'>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse" id='nav-bar-links'>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path  do%>
            <span class="navbar-link-text">Home</span> <i class="glyphicon glyphicon-home pull-right"></i>
          <% end %>
        </li>
        <li>
          <%= link_to help_path do %>
            <span class="navbar-link-text">Help</span> <i class="glyphicon glyphicon-question-sign pull-right"></i>
          <% end %>
        </li>
        <%= render 'layouts/navbar_link', text: 'About', linkpath: about_path, glyphtype: 'comment' %>
        <%= render 'layouts/navbar_link', text: 'Contact', linkpath: contact_path, glyphtype: 'envelope' %>
        <li><%= link_to 'Log In', '#' %></li>
      </ul>
    </nav>
  </div>
</header>