<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
      
      <div class="container">
        <%= render 'layouts/sidebar' %>
          
        <div class="main-content">  <!--col-md-9-->
            <% flash.each do |type, msg| %>
              <%= content_tag(:div, msg, class: "alert alert-#{type}") %>
            <% end %>
            <%= yield %>
        </div>
      <!--</div>-->
  </body>
</html>

